.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  column-gap: 40px;
  grid-template-areas:
    "title web"
    "img text";
  padding-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    column-gap: 32px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1279px) {
  .place:last-child {
    padding-bottom: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 28px;
    padding-bottom: 73px;
    max-width: 720px;
  }
}

@media screen and (max-width: 1023px) {
  .place:last-child {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    max-width: 490px;
    width: 100%;
    gap: 32px;
    padding-bottom: 49px;
    column-gap: 0;
    grid-template-areas:
      "title"
      "web"
      "img"
      "text";
  }
}

@media screen and (max-width: 500px) {
  .place:last-child {
    padding-bottom: 66px;
  }
}
